@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "All Round Gothic W01 Medium";
  src: url("/font/allroundgothicw01medium/ff9f9b187dc224f3f985a8fadbd88d45.eot");
  src: url("/font/allroundgothicw01medium/ff9f9b187dc224f3f985a8fadbd88d45.eot?#iefix") format("embedded-opentype"),
  url("/font/allroundgothicw01medium/ff9f9b187dc224f3f985a8fadbd88d45.woff") format("woff"),
  url("/font/allroundgothicw01medium/ff9f9b187dc224f3f985a8fadbd88d45.woff2") format("woff2"),
  url("/font/allroundgothicw01medium/ff9f9b187dc224f3f985a8fadbd88d45.ttf") format("truetype"),
  url("/font/allroundgothicw01medium/ff9f9b187dc224f3f985a8fadbd88d45.svg#All Round Gothic W01 Medium") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .default-size {
    @apply 2xl:max-w-[1400px] 2xl:min-w-[1400px] xl:max-w-[1150px] xl:min-w-[1150px] lg:max-w-[950px] lg:min-w-[950px] md:max-w-[700px] md:min-w-[700px] sm:max-w-[575px] sm:min-w-[575px] max-w-[400px] min-w-[400px];
  }

}
@layer utilities {
  .font-logo {
    font-family: "All Round Gothic W01 Medium", Bauhaus;
  }

  .font-color-logo {
    color: #000;
    background-image: -webkit-linear-gradient(0deg, #FE05C2 0%, #FF1378 20%, #CD06BC 40%, #672FD0 60%, #29D9FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

  }
  *{
    scroll-margin-top: 4rem;
  }

  .font-shadow-logo {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  }

  .bg-test {
    background: rgb(84,164,255);
    background: radial-gradient(circle, rgba(84,164,255,1) 0%, rgba(254,5,194,1) 50%, rgba(41,217,255,1) 100%);
  }
  .anim-bg-gradient {
    padding: 0.6em 1.2em;
    cursor: pointer;
    background: conic-gradient(from 350deg, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #29D9FF, #672FD0, #CD06BC , #FF1378, #FE05C2);
    margin-right: -10px;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
  }

  .anim-bg-gradient:hover {
    background-position: 0 0;
    color: white;
  }

  .bg-conic {
    background-image: conic-gradient(from 180deg at 50% 0%, #FEAE07 20.63deg, #FE05C2, #FF1378, #CD06BC, #672FD0, #29D9FF, #A2FFAE);
    //background: conic-gradient(from 180deg at 50% 0%, #FEAD08 0deg, #FEAE07 20.63deg, #FE05C2 78.75deg, #FF1378 102.82deg, #CD06BC 167.09deg, #672FD0 243.33deg, #29D9FF 301.88deg, #A2FFAE 359.99deg, #FEAD08 360deg);


  }
  .bg-linear-white {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), #FFFFFF 100%);
  }

  .inverted-border-radius::before {
    content: "";
    position: absolute;
    top: 0px;
    height: 50px;
    left: -25px;
    width: 25px;
    border-top-right-radius: 16px;
    box-shadow: 0 -25px 0 0 #fff;
  }

  .inverted-border-radius::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0px;
    height: 50px;
    width: 25px;
    border-top-right-radius: 16px;
    box-shadow: 0 -25px 0 0 #fff;
  }

  .inverted-border-radius {
  }

}

.pic-services-color {
  filter: invert(22%) sepia(60%) saturate(4034%) hue-rotate(255deg) brightness(96%) contrast(94%);
}


//Skills section
$block: '.hex-grid';

@mixin grid-item($amount) {
  @for $i from 1 through $amount {
    &:nth-of-type(#{$amount}n + #{$i}) {
      grid-column: #{$i + $i - 1} / span 3;
      @if $i % 2 == 0 {
        grid-row: calc(var(--counter) + var(--counter) - 1) / span 2;
      }
    }
  }

  @for $i from 1 through 20 {
    &:nth-of-type(n + #{$i * $amount + 1}) {
      --counter: #{$i + 1};
    }
  }
}

#{$block} {
  display: flex;
  justify-content: center;

  &__list {
    --amount: 5;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(var(--amount), 1fr 2fr) 1fr;
    grid-gap: 1rem 2rem;
  }

  &__item {
    position: relative;
    grid-column: 1 / span 3;
    grid-row: calc(var(--counter) + var(--counter)) / span 2;
    filter: drop-shadow(0 0 10px rgba(#444, .08));
    height: 0;
    padding-bottom: 90%;
  }

  &__content {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1.125rem;
    color: #111111;
    background-color: #7e22ce;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 25%;
    text-decoration: none;
    text-align: center;
    transition: transform .24s ease-out;
  }

  &__content img {
    position: absolute;
    background-color: white;
    height: 98%;
    width: 98%;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    padding: 2rem 25%;
  }
}

@media screen and (min-width: 1700px) {
  #{$block} {
    &__list {
      --amount: 10;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(10);
    }
  }
}

@media screen and (min-width: 1550px) and (max-width: 1700px) {
  #{$block} {
    &__list {
      --amount: 9;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(9);
    }
  }
}

@media screen and (min-width: 1400px) and (max-width: 1550px) {
  #{$block} {
    &__list {
      --amount: 8;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(8);
    }
  }
}

@media screen and (min-width: 1250px) and (max-width: 1400px) {
  #{$block} {
    &__list {
      --amount: 7;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(7);
    }
  }
}

@media screen and (min-width: 1100px) and (max-width: 1250px) {
  #{$block} {
    &__list {
      --amount: 7;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(7);
    }
  }
}

@media screen and (min-width: 950px) and (max-width: 1100px) {
  #{$block} {
    &__list {
      --amount: 6;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(6);
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 950px) {
  #{$block} {
    &__list {
      --amount: 5;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(5);
    }
  }
}

@media screen and (min-width: 650px) and (max-width: 800px) {
  #{$block} {
    &__list {
      --amount: 4;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(4);
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 650px) {
  #{$block} {
    &__list {
      --amount: 3;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(3);
    }
  }
}

@media screen and (min-width: 350px) and (max-width: 500px) {
  #{$block} {
    &__list {
      --amount: 2;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(2);
    }
  }
}

@media screen and (max-width: 350px) {
  #{$block} {
    &__list {
      --amount: 1;
      --counter: 1;
      grid-gap: 1.5rem 3rem;
    }

    &__item {
      @include grid-item(1);
    }
  }
}

//Partner card
.partner-card-parent {
  background-image: linear-gradient(163deg, #fe05c2 0%, #29d9ff 100%);
  border-radius: 20px;
  transition: all .3s;
}

.partner-card-child {
  border-radius: 10px;
  transition: all .2s;
}

.partner-card-child:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.partner-card-parent:hover {
  box-shadow: 0 0 30px 1px rgba(103, 47, 208, 0.3);
}

.simple-card {
  border-radius: 25px;
  background: #fff;
}

// Map
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  z-index: 0;
}





// Dropbox
.dropdown {
  position: relative;
  width: 230px;
  filter: url(#goo);

  &__face,
  &__items {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
  }

  &__face {
    display: block;
    position: relative;
  }

  &__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    visibility: hidden;
    z-index: 1000;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);

    &::before {
      content: "";
      background-color: #fff;
      position: absolute;
      bottom: 100%;
      right: 20%;
      height: 40px;
      width: 20px;
    }
  }

  &__arrow {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }

  input {
    display: none;

    &:checked ~ .dropdown__items {
      top: calc(100% + 25px);
      visibility: visible;
      opacity: 1;
    }
  }
}


svg {
  display: none;
}
// /Dropbox
.dropdown-skills {
  position: relative;
  width: 230px;
  filter: url(#goo);

  &__face,
  &__items {
    background-color: rgb(243 244 246);
    padding: 20px;
    border-radius: 25px;
  }

  &__face {
    display: block;
    position: relative;

  }

  &__items {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
    visibility: hidden;
    z-index: 1000;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    background-color: rgb(243 244 246);

    &::before {
      content: "";
      background-color: rgb(243 244 246);
      position: absolute;
      bottom: 100%;
      right: 20%;
      height: 27px;
      width: 20px;

    }
  }

  &__arrow {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
  }

  input {
    display: none;

    &:checked ~ .dropdown-skills__items {
      top: calc(100% + 25px);
      visibility: visible;
      opacity: 1;
    }
  }
}


.trailsText {
  position: relative;
  height: 80px;
  color: black;
  will-change: transform, opacity;
  overflow: hidden;
}

.trailsText > div {
}

.container {
  position: absolute;
}

